<!-- fxLayout = column -->
<div class="px-2" fxFlex="60px" fxLayoutAlign="space-between center" style="background: #eee; border-left: 1px solid #aaa">
  <div fxLayoutAlign="start center">
    <img class="rounded-circle" width="50px" [src]="avatarUrl" alt="" />
    <div fxLayout="column">
      <span>John Doe</span>
      <span>Last seen today</span>
    </div>
  </div>
  <ul class="nav">
    <a class="nav-link">
      <i class="icons icon-magnifier" aria-hidden="true"></i>
    </a>
    <a class="nav-link">
      <i class="icons icon-paper-clip" aria-hidden="true"></i>
    </a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="icons icon-options-vertical" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New group</a>
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Archived</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Sign out</a>
      </div>
    </li>
  </ul>
</div>
<div fxFlex="100" style="overflow-y: scroll">
  <ul style="background: #ddd" class="list-unstyled px-2">
    <li *ngFor="let message of messages; let i = index" class="mt-1">
      <div fxLayoutAlign="start end">
        <div fxLayoutAlign="start center">
          <img class="rounded-circle" width="30px" [src]="avatarUrl" alt="" />
        </div>
        <div class="p-1 mx-1" style="background: white; border-radius: 8px"> {{i}} text message here</div>
      </div>
    </li>
  </ul>
</div>
<app-rich-content fxFlex="80px" fxLayoutAlign="stretch center"></app-rich-content>
