.thread-header {
    background: #eeeeee;
}

.thread-footer {
    background: #F4F1EF;

    input {
        border: none;
        font-size: 15px;
        line-height: 20px;
        border-radius: 5px;
        padding: 10px 16px 10px 12px;
        &::placeholder {         
            color: #a4a4a4;
        }
    }
}

.message {
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
    font-size: 13.6px;
    margin-top: 2px;

    img.avatar {
        visibility: hidden;
    }

    .content {
        border-radius: 7.5px;
        max-width: 450px;
        background: white;
        padding: 6px 7px 8px 9px;
        .timestamp {
            float: right;
            margin-top: 10px;
            margin-bottom: -5px;
            font-size: 80%;
            color: rgba(0, 0, 0, 0.45);
        }
    }

    .arrow {
        width: 8px;
        margin-top: -3px;
        visibility: hidden;
    }

    &.out {
        img.avatar {
            visibility: hidden !important;
        }
        .content {            
            background: #dcf8c6;           
        }
    }

    &.out + &.in, &.in + &.out { 
        margin-top: 12px;
        .arrow {
            visibility: visible;
        }
    }
    &.out + &.in {
        .content { border-top-left-radius: 0; }
        .arrow {
            &::after {
                content: "◥";
                color: white;
            }
        }
    }

    &.in + &.out {        
        .content { border-top-right-radius: 0; }
        .arrow {
            &::after {
                content: "◤";
                color: #dcf8c6;
            }
        }
    }

    &.local-last {
        img.avatar {
            visibility: visible;
        }
    }
}