
<div class="bounds" style="height: calc(100vh - 20px)">

    <div style="background: brown"
         fxLayout="row"
         fxFlexFill >
        <div fxFlex="35"
          fxLayout="column">
          <div fxFlex="60px" style="background: green">some child
          </div>
          <div fxFlex="60px" style="background: blue">some child
          </div>
          <div fxFlex="100" style="background: lightgreen">
            some other content
            <app-threads></app-threads>
          </div>
        </div>
        <div fxFlex="150"
          fxLayout="column">
            <div fxFlex="60px" style="background: red">some child</div>
            <div fxFlex="100" style="background: lightred">
              some other content
              <app-thread></app-thread>
            </div>
            <div fxFlex="80px" style="background: red">some child</div>
        </div>
    </div>
  </div>
