
.wrapper {
  height: 100vh;
  background: #d8d8d8;

  .center-box {
    width: 100vw;
    max-width: 1400px;
    height:100vh;
    max-height:700px;

    app-thread {
      min-width: 500px;
      background-image: linear-gradient(to bottom, rgba(229, 221, 213, 0.92) 0%,rgba(229, 221, 213, 0.92) 100%), url("https://web.whatsapp.com/img/8a055527b27b887521a9f084497d8879.png");
    }

    app-threads {
      min-width: 350px;
    }
  }
}


