<div class="auth container-fluid">
    <div class="row">
        <div class="left col col-xs-6">
            <img title="Wisper" alt="Wisper Logo" src=""/>
            <p><small>Next-level SMS</small></p>
            <div class="android-download">
                <img src="android.png" />
                <p>Get it on Google Play</p>
            </div>
        </div>
        <div class="right col col-xs-6">
            <div class="qr-container" ng-switch="$ctrl.state">
                 <div ng-switch-default class='loader'>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--dot'></div>
                    <div class='loader--text'></div>
                </div>
                <img alt="" ng-switch-when="loadedQrCode" ng-src="{{ $ctrl.imgUrl }}">
                <div class="errorDisplay" ng-switch-when="isErrored">
                    <span class="icons icon-globe"></span>
                    <p class="message">Error: Could not connect to chat server</p>
                    <button ng-click="$ctrl.reload()" class="btn btn-primary btn-lg">Try again</button>
                </div>
                <div class="otherSession" ng-switch-when="otherActiveSession">
                    <span class="icons icon-exclamation"></span>
                    <p class="message">Wisper web is currently active in another window</p>
                    <button ng-click="$ctrl.activateHere()" class="btn btn-primary btn-lg">Activate here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="progress">
        <div class="done"></div>
    </div>
</div>
<style>
.android-download {
    /*background: #93C046;
    color: white;*/
}


