
a.nav-link {
    padding: 8px;   
    padding-bottom: 0;
    border-radius: 50%;

    &:hover, &:focus {
        outline: none;
        transition: background-color 0.18s ease; 
    }

    // you can also use :focus, this is extreme.
    &.focus {
        background-color: rgba(0,0,0,0.1);
        border-radius: 50%;
    }

    
}