<div fxLayoutAlign="start center">
  <img class="rounded-circle w-25" [src]="avatarUrl" alt="" />
</div>
<ul class="nav">
  <a class="nav-link">
    <i class="icons icon-speech" aria-hidden="true"></i>
  </a>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="icons icon-options-vertical" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">New group</a>
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="#">Archived</a>
      <a class="dropdown-item" href="#">Settings</a>
      <a class="dropdown-item" href="#">Sign out</a>
    </div>
  </li>
</ul>
