<app-profile-settings fxFlex="60px" fxLayoutAlign="space-between"></app-profile-settings>
<div class="search" fxFlex="60px" fxLayoutAlign="center center">
  <input type="search" class="form-control" placeholder="Search" />
</div>
<div class="threads-list-wrapper " fxFlex="100">
  <div class="threads-list">
    <a fxFlexLayout fxLayoutAlign="start center" *ngFor="let thread of threads" class="thread-item">
      <div class="avatar" fxFlex="80px" fxLayoutAlign="center center">
        <img class="img-circle" [src]="thread.avatarUrl" width="50px" alt="" />
      </div>
      <div class="meta" fxFlex="calc(100% - 80px)">
        <div fxLayoutAlign="space-between">
          <span>{{ thread.name }}</span>
          <span>{{ thread.time }}</span>
        </div>
        <div fxLayoutAlign="space-between">
          <span style="min-width:0;">
            <div
            style="display:inline-block;
            width:100%;
            text-overflow:
            ellipsis; overflow: hidden;
            white-space:nowrap;">{{ thread.body }}</div>
          </span>
          <span class="badge badge-pill badge-primary">2</span>
        </div>
      </div>
    </a>
  </div>
</div>
