<app-profile-settings class="px-2" fxFlex="60px" fxLayoutAlign="space-between center"></app-profile-settings>
<div class="search" fxFlex="60px" fxLayoutAlign="center center">
  <input type="search" class="form-control" placeholder="Search or start new chat" />
</div>
<div class="threads-list-wrapper " fxFlex="100">
  <div class="threads-list">
    <a (click)="changeThread(thread)" fxFlexLayout fxLayoutAlign="start center" *ngFor="let thread of threads" class="thread-item">
      <div class="avatar" fxFlex="80px" fxLayoutAlign="center center">
        <img [src]="thread.avatar" alt="" />
      </div>
      <div fxFlexAlign="center" class="meta" fxFlex="calc(100% - 80px)">
        <div fxLayoutAlign="space-between center">
          <span>{{ thread.name }}</span>
          <span>{{ thread.timestamp | date:'shortTime' }}</span>
        </div>
        <div fxLayoutAlign="space-between center">
          <span style="min-width:0;">
            <div style="display:inline-block;
            width:100%;
            text-overflow:
            ellipsis; overflow: hidden;
            white-space:nowrap;">{{ thread.snippet }}</div>
          </span>
          <span class="badge badge-pill badge-primary">{{ thread.unreadCount }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
