
@import '_bootstrap-custom';


/** Utils **/

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

i.icons {
  font-size: 120%;
  line-height: 1.6em;
}
.btn-icon {
    border: none;
    color: $brand-primary;
    background: transparent;
    border-radius: 2px;
    padding-top: 12px;
    padding: auto 12px;
    margin-top: 3px;

    &:hover, &:focus {
      color: $primary-white;
      background: $brand-primary;
    }
}

* {
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border: none;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

//colors
$color_mantis_approx: #8cc759;
$color_wisteria_approx: #8c6daf;
$color_wild_watermelon_approx: #ef5d74;
$color_yellow_orange_approx: #f9a74b;
$color_viking_approx: #60beeb;
$color_candy_corn_approx: #fbef5a;

//fonts
$font_0: Helvetica;

.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  

  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
    &:first-child {
      background-color: $color_mantis_approx;
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      background-color: $color_wisteria_approx;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      background-color: $color_wild_watermelon_approx;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      background-color: $color_yellow_orange_approx;
      animation-delay: 0.2s;
    }
    &:nth-child(5) {
      background-color: $color_viking_approx;
      animation-delay: 0.1s;
    }
    &:nth-child(6) {
      background-color: $color_candy_corn_approx;
      animation-delay: 0s;
    }
  }
}
@keyframes loader {
	15% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
	}
	45% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(230px);
	}
	65% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(230px);
	}
	95% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
	}
}


@media (min-width: 1200px) {
  .conversations.container-fluid, .auth.container-fluid {
    width: 80vw;
    margin-top: 8vh;
    box-shadow: 0 0 2px #555;
  }
  .people.list-group, .messages-wrapper, .auth .left, .auth .right {
    height: calc(75vh + 132px) !important;
  }
}

/* set mobile breakpoint to 0 to prevent ever getting to it */
body {
  min-width: 800px;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(http://orig14.deviantart.net/01f3/f/2017/094/6/5/83da4d47af0f3269ac52d933241e1afe_by_kittentube-db4p4u7.jpg);
}

/* todo: should we make text area a little transparent? */
.auth {
  .left, .right {
    height: calc(99.5vh);
    overflow-x: hidden;
    overflow-y: overlay;
  }
  .left {
    background: $brand-primary;
    color: $primary-white;
  }
  .right {
    background: $primary-white;
    .qr-container {
      position: relative;
      height: 100%;
      img, .otherSessionActive {
        width: 300px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
      }
    }    
  }
}


.conversations {
  .left {
    border-right: 1px solid #ccc;
    .search {
      position:relative;
      border: none;

      input { 
        text-indent: 30px;
        border: none;
        box-shadow: none;
        border-radius: 0; 
      }
      .icons {
        position: absolute;
        top: 21px;
        left: 27px;
      }
      &:hover {
        color: $brand-primary;
      }
    }    
  }
  .right {
    .sms-input {
      border: none;
      position: relative;
      border-radius: 0;
      background: #eee;
      border-top: 1px solid #ccc;
      input {
        border: none;
        background: transparent;
        box-shadow: none;
        border-radius: none;
      }
    }
  }
  .section-header {
    background: $gray-lighter;
    z-index: 1;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;

    .section-menu {
        float: right;
    }
    .section-head-text {
        height: 50px;
        display:inline-block;
    }
  }
  .people.list-group, .messages-wrapper {
    height: calc(100vh - 132px);
    overflow-x: hidden;
    overflow-y: overlay;

    .list-group-item:last-child {
      border-radius: 0
    }
  }
}



.people.list-group {
    margin-bottom: 0;
    border-radius: 0;
  /* todo: add text ellipsis
  .person .list-group-item-text {     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  .person {
    border-left: 0;
    border-right: 0;
    padding: 13px 15px;
    .img-circle {
      width: 40px;
    }

    .list-group-item-heading {
      margin-bottom: -1px;
    }
    .time.badge {
      background: transparent;
      color: $gray-darker;
      float: right;
      font-weight: lighter;
    }

    &.unread {
      .list-group-item-heading, .time {
        font-weight: bold;
      }      
    }

    &.active {
      z-index: initial;
      .time { color: $primary-white; }
    }

    &:last-child, &:first-child {
      border-radius: 0;
    }
  }
  
}

.messages-wrapper {
  position: relative;
  .messages.list-group {

    margin-bottom: 0;
    /* todo: wire up 'push-down' class with angular viewport code */
    &.push-down {
      position: absolute;
      bottom: 0;
    }

    .message {
      padding: 10px 30px 5px 30px;
      border: none;

      .list-group-item-text {
        padding: 7px 10px;
        border-radius: 6px;
        background: rgb(0,138,255);
        color: white;
        max-width: 500px;
        width: auto;
        display: inline-block;
        text-align: left;

        .time {
          display: block;
          text-align: right;
          font-size: 80%;
          margin-top: 2px;
        }
      }
      &.you .list-group-item-text {
        background: #eee;
        color: #111;
      }
      &.me .media-body {
        text-align: right;
      }
      &.you + .message.you, &.me + .message.me {
        padding-top: 0px;
      }
      &.message-start {
        text-align: center;
        .list-group-item-text {
          background: lightgreen;
          display: inline-block;
          padding: 3px 8px;
          margin: 20px auto;
        }
      }
    }
  }
}


/* Determinate & Indeterminate loading bar */
/* Progress Bar */
.progress {
    position: relative;
    height: 4px;
    background-color: $progress-bg;
    margin: .5rem 0 1rem;
    overflow: hidden;
    top: -4px;
    margin: 0 -15px;
    border-radius: 0;
    box-shadow: 0 4px $progress-fg;
}

.progress .done {
    position: absolute;
    background-color: $progress-fg;
    top: 0;
    bottom: 0;
    width: 100%;
}
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: $progress-fg;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: $progress-fg; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }