
@import '_bootstrap-custom';


/** Utils **/

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

i.icons {
  font-size: 120%;
  line-height: 1.6em;
}
.btn-icon {
    border: 1px solid black;
    background: transparent;
    border-radius: 2px;
    padding-top: 12px;
    padding: auto 12px;
    margin-top: 3px;

    &:hover {
      color: $brand-primary;
      border-color: $brand-primary;
    }

    &:focus {
      color: $primary-white;
      background: $brand-primary;
    }
}

* {
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border: none;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}


@media (min-width: 1200px) {
  .conversations.container-fluid {
    width: 80vw;
    margin-top: 8vh;
    box-shadow: 0 0 2px #555;
  }
}

/* set mobile breakpoint to 0 to prevent ever getting to it */
body {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-width: 830px;
}

.conversations {
  .left {
    border-right: 1px solid #ccc;
    .search {
      position:relative;
      border: none;

      input { 
        text-indent: 30px;
        border: none;
        box-shadow: none;
        border-radius: 0; 
      }
      .icons {
        position: absolute;
        top: 21px;
        left: 27px;
      }
      &:hover {
        color: $brand-primary;
      }
    }    
  }
  .right {
    .sms-input {
      border: none;
      position: relative;
      border-radius: 0;
      background: #eee;
      border-top: 1px solid #ccc;
      input {
        border: none;
        background: transparent;
        box-shadow: none;
        border-radius: none;
      }
    }
  }
  .section-header {
    background: $gray-lighter;
    z-index: 1;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;

    .section-menu {
        float: right;
    }
    .section-head-text {
        height: 50px;
        display:inline-block;
    }
  }
  .people.list-group, .messages-wrapper {
    height: 75vh;
    overflow-x: hidden;
    overflow-y: overlay;

    .list-group-item:last-child {
      border-radius: 0
    }
  }
}



.people.list-group {
    margin-bottom: 0;
    border-radius: 0;
  /* todo: add text ellipsis
  .person .list-group-item-text {     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  .person {
    border-left: 0;
    border-right: 0;
    padding: 13px 15px;
    .img-circle {
      width: 40px;
    }

    .list-group-item-heading {
      margin-bottom: -1px;
    }
    .time.badge {
      background: transparent;
      color: $gray-darker;
      float: right;
      font-weight: lighter;
    }

    &.unread {
      .list-group-item-heading, .time {
        font-weight: bold;
        color: $gray-darker;
      }      
    }

    &.active {
      z-index: initial;
      .time { color: $primary-white; }
    }

    &:last-child, &:first-child {
      border-radius: 0;
    }
  }
  
}

.messages-wrapper {
  position: relative;
  .messages.list-group {

    margin-bottom: 0;
    /* todo: wire up 'push-down' class with angular viewport code */
    &.push-down {
      position: absolute;
      bottom: 0;
    }

    .message {
      padding: 10px 30px 5px 30px;
      border: none;

      .list-group-item-text {
        padding: 7px 10px;
        border-radius: 6px;
        background: rgb(0,138,255);
        color: white;
        max-width: 500px;
        width: auto;
        display: inline-block;
        text-align: left;

        .time {
          display: block;
          text-align: right;
          font-size: 80%;
          margin-top: 2px;
        }
      }
      &.you .list-group-item-text {
        background: #eee;
        color: #111;
      }
      &.me .media-body {
        text-align: right;
      }
      &.you + .message.you, &.me + .message.me {
        padding-top: 0px;
      }
      &.message-start {
        text-align: center;
        .list-group-item-text {
          background: lightgreen;
          display: inline-block;
          padding: 3px 8px;
          margin: 20px auto;
        }
      }
    }
  }
}




