.thread-header {
  background: #eeeeee;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
  line-height: 21px;
  img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .status {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 16px;
  }
}

.thread-footer {
  background: #f4f1ef;
  input {
    border: none;
    font-size: 15px;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px 16px 10px 12px;
    &::placeholder {
      color: #a4a4a4;
    }
  }
}

.message-list {
  overflow-y: scroll;
  padding: 10px 40px;
}

.message {
  font-family: "Open Sans", sans-serif;
  min-width: 100px;
  font-size: 13.6px;
  margin-top: 2px;
  .day-sep {
    font-size: 12.5px;
    line-height: 21px;
    border-radius: 7.5px;
    color: rgba(69, 90, 100, 0.95);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background-color: rgba(225, 245, 254, 0.92);
    padding: 5px 12px 6px 12px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    width: auto;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  img.avatar {
    visibility: hidden;
  }
  .content {
    border-radius: 7.5px;
    max-width: 450px;
    background: white;
    padding: 6px 7px 8px 9px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    word-wrap: break-word;
    .sender-name {
      font-size: 12.5px;
      font-family: "Open-sans", sans-serif;
      font-weight: 600;
      color: purple;
    }
    .timestamp {
      float: right;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: -5px;
      font-size: 80%;
      color: rgba(0, 0, 0, 0.45);
    }
  }
  .arrow {
    width: 8px;
    margin-top: -3px;
    visibility: hidden;
  }
  &.out {
    img.avatar {
      visibility: hidden !important;
    }
    .content {
      background: #dcf8c6;
    }
  }
  &.out + &.in,
  &.in + &.out,
  &.out.new-day,
  &.in.new-day {
    margin-top: 12px;
    .arrow {
      visibility: visible;
    }
  }
  &.out + &.in,
  &.in.new-day {
    .content {
      border-top-left-radius: 0;
    }
    .arrow {
      &::after {
        content: "◥";
        color: white;
      }
    }
  }
  &.in + &.out,
  &.out.new-day {
    .content {
      border-top-right-radius: 0;
    }
    .arrow {
      &::after {
        content: "◤";
        color: #dcf8c6;
      }
    }
  }
  &.local-last {
    img.avatar {
      visibility: visible;
    }
  }
}
.single-thread-empty {
  padding: 40px;
}
