<div class="px-2 profile-settings" fxFlex="60px" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center">
    <img [src]="avatarUrl" alt="" />
  </div>
  <ul class="nav">
    <a class="nav-link" tabindex="2" (click)="isFocused2 = !isFocused2" (blur)="isFocused2 = false" [ngClass]="{'focus': isFocused2}">
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="#727A7E" d="M12.072 1.761a10.05 10.05 0 0 0-9.303 5.65.977.977 0 0 0 1.756.855 8.098 8.098 0 0 1 7.496-4.553.977.977 0 1 0 .051-1.952zM1.926 13.64a10.052 10.052 0 0 0 7.461 7.925.977.977 0 0 0 .471-1.895 8.097 8.097 0 0 1-6.012-6.386.977.977 0 0 0-1.92.356zm13.729 7.454a10.053 10.053 0 0 0 6.201-8.946.976.976 0 1 0-1.951-.081v.014a8.097 8.097 0 0 1-4.997 7.209.977.977 0 0 0 .727 1.813l.02-.009z"></path>
          <path fill="#009588" d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path>
        </svg>
      </i>
    </a>
    <a class="nav-link" tabindex="3" (click)="isFocused3 = !isFocused3" (blur)="isFocused3 = false" [ngClass]="{'focus': isFocused3}">
      <i class="icons icon-speech" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path opacity=".55" fill="#263238" d="M19.005 3.175H4.674C3.642 3.175 3 3.789 3 4.821V21.02l3.544-3.514h12.461c1.033 0 2.064-1.06 2.064-2.093V4.821c-.001-1.032-1.032-1.646-2.064-1.646zm-4.989 9.869H7.041V11.1h6.975v1.944zm3-4H7.041V7.1h9.975v1.944z"></path>
        </svg>
      </i>
    </a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        tabindex="4" (click)="isFocused4 = !isFocused4" (blur)="isFocused4 = false" [ngClass]="{'focus': isFocused4}">
        <i class="icons icon-options-vertical" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="#263238" fill-opacity=".6" d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path>
          </svg>
        </i>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New group</a>
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Archived</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Sign out</a>
      </div>
    </li>
  </ul>
</div>
<div [ngSwitch]="notification.type" class="notification" fxFlex="80px">
  <div *ngSwitchCase="'EnableNotifications'" fxLayout="row" fxFlexFill fxLayoutAlign="start center">
    <div class="icon" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
        <path fill="#FFF" fill-opacity=".9" d="M24.154 2C11.919 2 2 11.924 2 24.165S11.919 46.33 24.154 46.33s22.154-9.924 22.154-22.165S36.389 2 24.154 2zm-.744 15.428v-.618c0-.706.618-1.324 1.324-1.324s1.323.618 1.323 1.324v.618c2.559.618 4.412 2.823 4.412 5.559v3.176l-8.294-8.294a5.056 5.056 0 0 1 1.235-.441zm1.323 15.706a1.77 1.77 0 0 1-1.765-1.765h3.529a1.768 1.768 0 0 1-1.764 1.765zm7.236-.883l-1.765-1.765H17.233v-.882l1.765-1.765v-4.853a5.56 5.56 0 0 1 .794-2.912l-2.559-2.559 1.147-1.147 14.735 14.736-1.146 1.147z"></path>
      </svg>
    </div>
    <div class="message">
      Get Notified of New Messages<br>
      <span>Turn on desktop notifications</span>
    </div>
  </div>
</div>
<div class="search" fxFlex="60px" fxLayoutAlign="center center">
  <input type="search" class="form-control" placeholder="Search or start new chat" />
</div>
<div class="threads-list-wrapper " fxFlex="100">
  <div class="threads-list">
    <a (click)="changeThread(thread)" fxFlexLayout fxLayoutAlign="start center" *ngFor="let thread of threads" class="thread-item"
      [ngClass]="{'unread': thread.unreadCount > 0, 'active': current.id === thread.id}">
      <div class="avatar" fxFlex="80px" fxLayoutAlign="center center">
        <img [src]="thread.avatar" alt="" />
      </div>
      <div fxFlexAlign="center" class="meta" fxFlex="calc(100% - 80px)">
        <div fxLayoutAlign="space-between center">
          <span class="name">{{ thread.name }}</span>
          <span class="timestamp">{{ thread.timestamp | date:'shortTime' }}</span>
        </div>
        <div fxLayoutAlign="space-between center">
          <span style="min-width:0;">
            <div class="snippet" style="display:inline-block;
            width:100%;
            text-overflow:
            ellipsis; overflow: hidden;
            white-space:nowrap;">{{
              thread.snippet }}</div>
          </span>
          <span [hidden]="thread.unreadCount == 0" class="badge badge-pill unreadCount">{{ thread.unreadCount }}</span>
        </div>
      </div>
    </a>
  </div>
</div>